VITE_SUPABASE_URL=https://lkudntyvngwwlzuciocd.supabase.co
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImxrdWRudHl2bmd3d2x6dWNpb2NkIiwicm9sZSI6ImFub24iLCJpYXQiOjE3ODE5Nzg1OTMsImV4cCI6MjA5NzU1NDU5M30.Zr8iHk3vrx76yYItKUa4GoM3g-5R2NVXf4omZ8mRN-o
